* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

$primary-light: #ddd;
$primary-dark: #222831;
$secondary-dark: #393e46;
$secondary-dark-hover: #4a4f57;
$secondary-dark-active: #5b5f68;
$header: #111720;
$primary-yellow: #fac650;
$main-white: white;
$main-black: black;

html {
  height: -webkit-fill-available; /* We have to fix html height */
}

body {
  min-height: 100vw;
  min-height: -webkit-fill-available;
  display: flex;

  #root {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;

    header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: $header;
      font-size: 32px;
      color: $primary-yellow;
      flex: 1 1 50px;
    }

    main {
      background: rgb(230, 115, 0);
      background: linear-gradient(
        180deg,
        rgba(230, 115, 0, 1) 0%,
        rgba(255, 204, 0, 1) 100%
      );
      flex: 15 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .title-city-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-grow: 1;
        flex-shrink: 1;
        .title {
          color: $main-white;
          font-size: 1.5em;
        }
        form {
          display: flex;
          flex-direction: column;
          .searchInputs {
            display: flex;

            // background-image: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png);
            // background-repeat: no-repeat;
            // background-position: right;
            // background-position-x: calc(100% - 10px);
            .input {
              width: 300px;
              height: 40px;
              padding: 2px 10px;
              background-color: $main-white;
              border: 0;
            }
            .input:focus {
              outline: none !important;
            }
            .searchIcon {
              background-color: $main-white;
              width: 50px;
              height: auto;
              place-items: center;
              display: grid;
            }
            #closeBtn {
              cursor: pointer;
            }
          }
          .dataResults {
            display: flex;
            flex-direction: column;
            max-height: 160px;
            overflow: hidden;
            overflow-y: auto;
            background-color: $main-white;
            width: 350px;
            position: absolute;
            margin-top: 40px;
            padding: 0px 10px 5px;
            .dataResult {
              cursor: pointer;
            }
            .dataResult:hover {
              background-color: $primary-light;
            }
          }
        }
      }
      .capitals-grid {
        border-top: $primary-light solid 1px;
        padding: 10px 30px 40px;
        justify-items: start;
        align-items: center;
        display: grid;
        flex-shrink: 1;
        grid-template: repeat(7, 1fr) / repeat(2, 1fr), auto, repeat(2, 1fr),
          auto;
        grid-gap: 10px;
        .capitals-text {
          color: $main-white;
          grid-column: 1/7;
        }
        .capitals-gridtitle {
          color: $secondary-dark-hover;
          font-size: 0.7em;
        }
        .nested {
          display: contents;
        }
        .capitals-city {
          font-weight: bold;
        }
        .city-name1 {
          margin-right: 50px;
        }
      }
    }

    footer {
      // position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      flex: 0 0 42px;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      color: $primary-light;
      font-size: 20px;
      background-color: $primary-dark;
      .fa-github {
        color: $primary-light;
        font-size: 24px;
        transition: transform 0.3s ease-in-out;
      }
      .fa-github:hover {
        transform: rotate(360deg) scale(1.2);
      }
    }
  }
}
